.jellyfin-provider-link[data-provider-key] {
    background: none !important;
    color: transparent !important;
    font-size: 0 !important;
    padding: 0 !important;
}

.jellyfin-provider-link[data-provider-key]::before {
    content: "";
    display: inline-block;
    width: 145px;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: var(--provider-logo);
    background-repeat: no-repeat;
    background-size: contain;
}

.layout-desktop .itemExternalLinks.focuscontainer-x > .jellyfin-provider-link[data-provider-key]:hover,
.layout-desktop .itemExternalLinks.focuscontainer-x > .jellyfin-provider-link[data-provider-key]:focus,
.layout-desktop .itemExternalLinks.focuscontainer-x > .jellyfin-provider-link[data-provider-key]:active {
    background: none !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent !important;
    filter: none !important;
}
